<div class="shop">
  <h1>Shop</h1>
  <table>
    <table>
      <tr>
        <th>Item id</th>
        <th>Item price</th>
        <th>Action</th>
      </tr>
      <% @cart.item_model.limit(10).each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th><%= item.price %></th>
        <th id="<%= dom_id(item) %>"><%= link_to("Add to cart", add_item_to_cart_path(:item_id => item.id)) %></th>
      </tr>
      <% end %>
    </table>
  </table>
</div>

<div id="cart">
  <div class="items">
    <%= form_for @cart, :url => cart_path do |f| %>
      <h1>Shopping Cart</h1>
      <table>
        <tr>
          <th>Item id</th>
          <th>Item price</th>
          <th>Item quantity</th>
          <th>Remove</th>
        </tr>
    
        <%= f.fields_for :cart_items do |cart_item| %>
          <tr>
            <td><%= cart_item.object.item.id %></td>
            <td><%= cart_item.object.item.price %></td>
            <td><%= cart_item.text_field :quantity %></td>        
            <td><%= link_to "Remove item #{cart_item.object.item.id}", remove_item_from_cart_path(:item_id => cart_item.object.item.id) %></td>
          </tr>
        <% end %>
      </table>

      <table class="cashpoint">
        <tr>
          <td>Sum: <span id="price-item-sum"><%= number_to_currency @cart.item_sum %></span></td>
        </tr>
        <tr>
          <td>Shippin costs: <span id="price-shipping-costs"><%= number_to_currency @cart.shipping_costs %></span></td>
        </tr>
        <tr>
          <td>Total: <span id="price-total"><%= number_to_currency @cart.total %></span></td>
        </tr>
      </table>
  
      <%= f.submit %>
    <% end %>
  </div>

  <div class="coupons">
    <%= form_for @cart, :url => cart_path do |f| %>
      <h2>Your coupons</h2>
      <% if @cart.coupons.empty? %>
        No coupons added
      <% else %>
        <ul id="your_coupons">
        <% @cart.coupons.each do |coupon| %>
          <li><%= coupon.title %></ti>
        <% end %>
        </ul>
      <% end %>
      <ul id="error_messages">
      <% @cart.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
      </ul>
      <%= f.label :coupon_code, 'Coupon code' %>
      <%= f.text_field :coupon_code %>
      <%= f.submit :value => "Add coupon" %>
    <% end %>
  </div>
</div>
